img{
  display: block;
  margin: auto;
  width: auto;
}


h1 {
  color: #FFF;
  text-align: center;
}

h2 {
  color: green;
  font-style: italic;
  text-align: center;
}

p {
  font-family: "Comic Sans Ms";
  font-weight: normal;

}

ol {
  line-height: 40px;
}
body{
  display: flow-root;
  margin-top: inherit;
 background-image: url("https://cms.splendidtable.org/sites/default/files/styles/w2000/public/chocolate-chip-cookie-2.jpg?itok=DxYtiRK-");
 background-repeat: no-repeat;
 background-attachment: fixed;
}
